<div class="header">
	<nav class="navbar navbar-fixed-top navbar-inverse" style="" role="navigation">
		<div class="navbar-brand" style="padding: 10px 10px;">
			<img src="./assets/img/sentinel-logo-white.png"/>
		</div>
		<label style="color: #e3e3e3;font-size: 18px;padding:0 8px;margin-top: 18px;"
			   ng-model="dashboardVersion">v{{dashboardVersion}}</label>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="javascript:void(0);"
				   style="margin: 5px 0 0 0;"><span class="glyphicon glyphicon-home"></span>&nbsp;首页</a>
			</li>
			<li>
				<a href="javascript:void(0);"
				   style="margin: 5px 0 0 0;"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;文档</a>
			</li>
			<li ng-show="showLogout">
				<a href="javascript:void(0);" ng-click="logout()"
				   style="margin: 5px 20px 0 0;"><span class="glyphicon glyphicon-log-out"></span>&nbsp;注销</a>
			</li>
		</ul>
	</nav>
	<!-- end nav -->
	<sidebar></sidebar>
</div>
